/scripts/
/examples/
/docs/
/docker_conf/
/assets/
!/assets/unicodes.md
/setup.py
/LICENSE
/.gitignore
/.dockerignore
/README.md
/env.py
/docker*
!docker_quickstart.py

/.*/
/logs/
!/include/
/quickstart_templates/
/venv/
/db/